#!/bin/bash

#### VARs ####
SNAPSHOT_NAME={{ snapshot_name }};
DIR_SCRIPT={{ dir_script }};
BIN_ACLI="/usr/local/nutanix/bin/acli";

#### Delete Snapshots all VMs group ####
function delete_snapshot(){

    echo "yes" | xargs | $BIN_ACLI snapshot.delete "$SNAPSHOT_NAME":*;

}

#### Remove Script Remote Server ####
function remove_script(){
    cd "$DIR_SCRIPT" && rm -rf *;
}

#### FUNCTION CALL ####
delete_snapshot
remove_script
